<h2 class="mt-3">Votar por el juego del año</h2>
<hr>

<div class="row">
    <div class="card-columns">

        <div *ngFor="let juego of juegos"
                class="card bg-dark">
          <img [src]="juego.url" class="card-img-top" [alt]="juego.name">
          <div class="card-body">
            <h5 class="card-title"> {{juego.name}} </h5>
            <p class="card-text"> Vota por este juego  </p>

            <button (click)="votarJuego(juego)"
                    class="btn btn-block btn-outline-primary">
                    Votar
            </button>
          </div>
        </div>
    </div>
</div>